/VolvoCleaner.Web.Frontend/obj
/VolvoCleaner.Web.Frontend/bin
/.vs
/VolvoCleaner.Web.Frontend/wwwroot/files/1d4f24f0782542278e8ed53cafbcb04f_PARTE 1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/2ffda76264d349c08e5475f1ef821dab_default.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/2698c137c42544a293c0ba0dabd4a0e9_part1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/62209d85a9f64ead863bcf2ba41e67c1_default.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/66888bd4c23b4e518ee9f2305a97a416_part1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/cb80516d51e441769de6a99a888b9c06_part1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/d60b8927a97046b98ec767cf864b32e1_PARTE 1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/dd9d44dcf520401eab91c5f6ea5b606b_part1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/default.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/f7d232510e6147c4bd4e23723c6b8889_PARTE 1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/f89352ccd1234fc78cfd1c4719d91df7_part1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/part1.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/report.xlsx
/VolvoCleaner.Web.Frontend/wwwroot/files/processed
/VolvoCleaner.Web.Frontend/wwwroot/files/uploaded
/VolvoCleaner.Web.Frontend/wwwroot/files/validation
