@model VolvoCleaner.Web.Frontend.Models.FileModel

@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

<form asp-action="Upload" class="dropzone">
    <div class="form-horizontal">
        <h4>FileModel</h4>
        <hr />

        <input name="type" id="type" type="text" value="services" />
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
